.display-container {
    padding-left: 0px !important; 
    padding-right: 0px !important;
}

.swiper-slide {
    background: #ffffff00;
}

.product-slider {
    background: #F2F7FF;
    border-radius: 16px;
    margin-top: 40px;
}

.product-slider .container {
    padding-top: 20px;
}

.product-swiper {
    text-align: left;
}

.product-swiper .title-product {
    font-size: 12px;
    font-weight: 500;
}