.big-image-container {
    padding-bottom: 75%; 
    border-radius: 20px; 
    background: no-repeat center/cover;
}

.text-full-width .title-product {
    font-size: 14px;
    font-weight: 800;
}