.custom-toolbar {
    position: fixed;
    height: 64px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0;
}

.start-selling-text {
    color: #EF7132;
    position: fixed;
    top: 36px;
}

.start-selling-btn {
    background-color: #EF7132;
    height: 64px;
    width: 64px;
    top: -24px;
    left: auto;
    position: fixed;
    border-radius: 50%;
  }

.active-indicator {
    width: 17.5%;
    height: 5px;
    position: fixed;
    top: 0px;
    border-radius: 0px 0px 20px 20px;
    background-color: #1B479E;
}

.tabbar-icon-svg {
    margin-top: 5px;
    color: grey;
}
