.topbar {
  height: 34px;
  background: #0674ec;
  box-shadow: none;
  border-bottom: 1px solid #6DB5CA;
  font-size: 10px;
  line-height: 14px;
  color: #fff;
  position: relative;
  z-index: 20;
}

.topbar__container {
  height: 100%;
}

.topbar__item,.topbar__row {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.topbar__item-value {
  color: #fff;
  transition: all .1s;
}

.topbar__spring {
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.topbar__item--link+.topbar__item--link {
  margin-left: 16px;
}

.topbar-dropdown,.topbar-dropdown__btn {
  position: relative;
  height: 100%;
}

.topbar-dropdown__btn {
  border: none;
  padding: 0;
  cursor: pointer;
  transition: all .1s;
  background: transparent;
  color: inherit;
  fill: hsla(0,0%,100%,.4);
  padding-left: 10px;
  padding-right: 20px;
}

.topbar-dropdown__btn:focus {
  outline: none;
}

.topbar-dropdown__btn svg {
  position: absolute;
  top: calc(50% - 4px);
  right: 7px;
}

.topbar-dropdown__body {
  position: absolute;
  top: 100%;
  visibility: hidden;
  transform-origin: top;
  transform: rotateX(60deg);
  opacity: 0;
  transition: transform .2s,opacity .2s,visibility 0s .2s;
  right: 0;
}

.topbar-dropdown--opened .topbar-dropdown__btn,.topbar-dropdown__btn:focus,.topbar-dropdown__btn:hover {
  background: hsla(0,0%,100%,.15);
  color: #fff;
  fill: hsla(0,0%,100%,.4);
}

.topbar-dropdown--opened .topbar-dropdown__btn .topbar__item-value,.topbar-dropdown__btn:focus .topbar__item-value,.topbar-dropdown__btn:hover .topbar__item-value {
  color: #fff;
}

.topbar-dropdown--opened .topbar-dropdown__body {
  z-index: 1;
  transition-delay: 0s,0s,0s;
  opacity: 1;
  visibility: visible;
  transform: rotateX(0deg);
}

.topbar-link {
  color: inherit;
  transition: color .3s;
}

.topbar-link:hover {
  color: #fff;
}

@media (-ms-high-contrast:none),screen and (-ms-high-contrast:active) {
  .menu {
    box-shadow: 0 0 0 1px rgba(0,0,0,.15);
  }
}

.menu__list {
  list-style: none;
  padding: 10px 0;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0;
}

.menu__item {
  position: relative;
}

.menu__item-submenu-offset {
  position: absolute;
  top: -10px;
}

.menu__item-link {
  background: transparent;
  border: none;
  width: 100%;
  font-weight: inherit;
  display: block;
  color: inherit;
  text-align: left;
  padding: 8px 24px 6px 16px;
}

.menu__item-link:hover {
  color: inherit;
}

.menu__item-link:focus {
  outline: none;
}

.menu__item-icon {
  position: absolute;
  top: 3px;
  left: 15px;
}

.menu__item-arrow {
  position: absolute;
  top: calc(50% - 5px);
  fill: #b3b3b3;
  right: 12px;
  transform: scaleX(1);
}

.menu__item--hover .menu__item-link {
  background: #f2f2f2;
}

.menu__item--hover>.menu__submenu {
  opacity: 1;
  visibility: visible;
  transform: rotateY(0deg);
}

.menu__submenu {
  position: absolute;
  visibility: hidden;
  transform: rotateY(45deg);
  opacity: 0;
  transition: transform .2s,opacity .2s;
  display: none;
  z-index: 1;
  left: 100%;
  transform-origin: left;
}

.menu__submenu--reverse {
  left: auto;
  right: 100%;
  transform-origin: right;
}

.menu__submenu--display {
  display: -ms-flexbox;
  display: flex;
}

.menu__submenu--open {
  visibility: visible;
  opacity: 1;
  transform: rotateY(0deg);
}

.menu--with-icons .menu__item-link {
  padding-left: 50px;
}

.menu--layout--topbar {
  width: 150px;
  box-shadow: 0 1px 7px rgba(0,0,0,.25);
}

@media (-ms-high-contrast:none),screen and (-ms-high-contrast:active) {
  .menu--layout--topbar {
    box-shadow: 0 0 0 1px rgba(0,0,0,.15);
  }
}

.menu--layout--topbar .menu__list {
  padding: 6px 0;
}

.menu--layout--topbar .menu__item-link {
  display: block;
  color: inherit;
  padding: 8px 21px 6px 13px;
}

.menu--layout--topbar.menu--with-icons .menu__item-icon {
  position: absolute;
  top: 3px;
  left: 12px;
}

.menu--layout--topbar.menu--with-icons .menu__item-link {
  padding-left: 45px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

span .fa fa-list {
  /* Font & Text */
  font-family: FontAwesome;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 40px;
  text-decoration: none solid rgb(6, 116, 236);
  text-align: right;
  text-indent: 0px;
  text-transform: uppercase;
  vertical-align: baseline;
  white-space: normal;
  word-spacing: 0px;

  /* Color & Background */
  background-attachment: scroll;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  color: rgb(6, 116, 236);

  /* Box */
  height: 40px;
  width: 100px;
  border: 0px none rgb(6, 116, 236);
  border-top: 0px none rgb(6, 116, 236);
  border-right: 0px none rgb(6, 116, 236);
  border-bottom: 0px none rgb(6, 116, 236);
  border-left: 0px none rgb(6, 116, 236);
  margin: 0px;
  padding: 0px;
  max-height: none;
  min-height: auto;
  max-width: none;
  min-width: auto;

  /* Positioning */
  position: static;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  float: none;
  display: block;
  clear: none;
  z-index: auto;

  /* List */
  list-style-image: none;
  list-style-type: none;
  list-style-position: outside;

  /* Table */
  border-collapse: separate;
  border-spacing: 0px 0px;
  caption-side: top;
  empty-cells: show;
  table-layout: auto;

  /* Miscellaneous */
  overflow: visible;
  cursor: pointer;
  visibility: visible;

  /* Effects */
  transform: none;
  transition: all 0s ease 0s;
  outline: rgb(255, 0, 0) dashed 1px;
  outline-offset: 0px;
  box-sizing: border-box;
  resize: none;
  text-shadow: none;
  text-overflow: clip;
  word-wrap: normal;
  box-shadow: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
/* Desktop */

@media (min-width: 992px){
  .hero-area {
    padding-top: 20px;
    height: 650px;
    position: relative;
    width: 100%;
  }
  .hero-area .hero-content {
    display: table;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
  }
}
