.product-gallery {
    border-radius: 0px;
}

.sold-out-container {
    width: 100%;
    background-color: #000000AB;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999999;
}

.sold-icon-container {
    position: absolute;
    right: 50%;
    top: 50%;
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

.page-product .container{
    padding-top: 10px;
}

.page-product h3 {
    font-weight: 900;
}

.product-details {
    width: 100%;
    font-size: 11px;
    font-weight: 600;
}

.detail-label {
    width: 30%;
}

.detail-info {
    width: 70%;
    color: black;
}

.product-description {
    margin-top: 20px;
}

.product-description h6 {
    font-weight: 900;
}

.desc-content {
    margin-top: 4px;
    font-size: 11px;
    line-height: 1.6;
}

.detail-map {
    width: 100%;
    height: 200px;
}

#toolbar-product-detail {
    background-color: #1B479E;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 900;
    color: white;
}

.toolbar-price {
    margin-left: 10px;
}

.toolbar-actions {
    display: inherit;
}

.chat-button {
    background-color: #779DEA;
    font-weight: 700;
    color: white;
    margin-right: 5px;
}

.appointment-button {
    background-color: #EF7132;
    font-weight: 700;
    color: white;
}

.sold-out-button {
    background-color: #DFDFDF;
    font-weight: 700;
}

.profile-container {
    width: 100%;
    border-radius: 20px;
}

.seller-img-container {
    border-radius: 50%;
    height: 0;
    padding-bottom: 27.5%;
    background: no-repeat center/cover;
}

.seller-name {
    font-weight: 700;
}

.profile-banner-info {
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 600;
}