.product-card {
    font-family: 'Poppins', sans-serif;
}

.image-container {
    height: 0;
    padding-bottom: 100%;
    background: no-repeat center/cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.title-product {
    line-height: 1.5em;
    height: 2.75em;
    overflow: hidden;
}

.card-sold {
    position: absolute;
    right: -30px;
    top: 10px;
}
