.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.general-btn {
	background-color: #EF7132;
  font-weight: 700;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.general-washout-btn {
	background-color: #CDCDCD;
  font-weight: 700;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.general-disabled-btn {
	background-color: #FFD4BE;
  font-weight: 700;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.general-reject-btn {
	background-color: #B71C1C;
  font-weight: 700;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

h7 {
  font-weight: 500;
  font-size: 13px;
}

* {
  font-family: "Poppins";
}

.sticky-div {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 2134151;
}

