.block-title-appointment {
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.illustration-svg {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}