.card-love {
    position: absolute;
    right: 10px;
    top: 10px;
}

.title-product-love {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
}

.product-card-love {
    font-family: 'Poppins', sans-serif;
}

.image-container {
    height: 0;
    padding-bottom: 100%;
    background: no-repeat center/cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: rgba(87, 87, 87, 0.568);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    align-items: center;
  }
